/* The side navigation menu */
.sidebar {
  padding: 0;
  width: 14em;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.modal-backdrop {
  z-index: 0 !important;
  width: 0 !important;
}

/* Sidebar links */
.sidebar a {
  display: flex;
  color: black;
  padding: 2px;
  padding-left: 60px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #223151;
  color: white;
  border-top-right-radius: 7%;
  border-bottom-right-radius: 7%;
  width: 14em;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgba(193, 193, 196, 0.747);
  color: white;
  width: 14em;
  border-top-right-radius: 7%;
  border-bottom-right-radius: 7%;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 140px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

input[type="checkbox"]:checked + label::before {
  background-color: #c8ffc8;
}

.fc .fc-scroller {
  background-color: #223151 !important;
  color: #fff;
}

.fc .fc-scroller a {
  color: #fff !important;
}

.fc-daygrid-block-event .fc-event-time,
.fc-daygrid-block-event .fc-event-title {
  align-self: center !important;
  margin-left: 10px !important;
  width: 0px !important;
  height: 0px !important;
  background-color: #f9c917 !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: "700";
  font-size: 18px;
  line-height: 30px;
}

.fc-h-event .fc-event-title-container {
  align-self: center !important;
  margin-left: 10px !important;
  width: 0px !important;
  height: 0px !important;
  background-color: #f9c917 !important;
  justify-content: center !important;
  align-items: center !important;
}

.fc .fc-daygrid-event-harness {
  align-self: center !important;
  margin-left: 10px !important;
  width: 10px !important;
  height: 10px !important;
  background-color: #f9c917 !important;
  justify-content: center;
  align-items: center;
}

.fc .fc-scroller-liquid-absolute {
  overflow: unset !important;
}
.fc .fc-scroller {
  overflow: unset !important;
}

.fc .fc-toolbar-title {
  color: #fff;
}

.fc .fc-button-primary {
  color: #223151 !important;
  background-color: #fff !important;
  border-radius: 10px;
}

.table {
  border-style: none !important;
}
.fc .fc-scrollgrid table {
  border-style: none !important;
}

.fc table,
.fc tr,
.fc td,
.fc th {
  border-style: none !important;
}

.fc-scrollgrid-sync-table {
  margin-top: 10px;
  margin-left: -1.4em;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
